<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer">
        <footer class="footer mt-auto py-3 border-top" style="background-color: #F2F2F2; border-color: #e3e3e3 !important;">
            <div class="container text-center">
                <span style="color: #333333; font-size: 0.9rem;">&copy; 2025 Mi App de Turismo. Todos los derechos reservados.</span>
            </div>
        </footer>
    </div>
</body>
</html>